altgraph==0.17.4
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
coverage==7.3.2
cryptography==41.0.4
docopt==0.6.2
idna==3.4
packaging==23.2
pdfminer.six==20220524
pefile==2023.2.7
py-pdf-parser==0.11.0
pycparser==2.21
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyPDF4==1.27.0
pywin32-ctypes==0.2.2
requests==2.31.0
soupsieve==2.5
urllib3==2.0.4
Wand==0.6.10
XlsxWriter==3.1.8
